<form method="get" action="/quizes" style="margin-bottom:5px;">
  <fieldset>
    <legend>Busqueda</legend>
    <input type="text" name="search" value="texto" />
    <input type="submit" value="Buscar" />
  </fieldset>
</form>
<% if (quizes.length === 0) { %>
  <h4>No se han encontrado preguntas</h4>
<% }  else { %>
<table>
  <% for (var i=0; i<quizes.length;i++) {  %>
    <tr>
      <td>
        <a href="quizes/<%=quizes[i].id %>">
          <%=quizes[i].pregunta %>
        </a>
      </td>
    </tr>
  <% } %>
</table>
<% } %>
<p align="left">Numero de preguntas totales: <b><%=quizes.length %></b></p>
